{% extends 'web/base.html' %}


{% block contenido %}

<main>
    <img src="../../static/apicontab/images/Captura.JPG" alt="contabilidad" alt="contadores" class="imagen_conta">

    <div class="contenedor">

        <div class="texto">
          <h1>Nuestra Misión</h1>
            <br>
            <br>
            <p> Queremos entregar tranquilidad, profesionalismo y la mejor calidad a nuestros clientes. <br>
                Para eso ofrecemos nuestros servicios según los requerimientos y necesidades que soliciten,<br>
                Así poder manejar su negocio en el ámbito comercial, financiero y tributario.</p>
        </div>



    </div>


</main>
{% endblock%}



























