{% extends 'web/base.html' %}


{% block contenido %}

<main class="main">
<div class="contenedor">
<button type="button">Click Me!</button>

<table class="tabla_asiento" style="width:50%">
  <tr class="cabecera_tabla">
      <th>ID</th>
      <th>CUENTA</th>
      <th>DEBE</th>
      <th>HABER</th>
      <th>SALDO DEUDOR</th>
      <th>SALDO ACRREDOR</th>
      <th>ACTIVO</th>
      <th>PASIVO</th>
      <th>PERDIDA</th>
      <th>GANANCIA</th>

  </tr>

        {% for obj in response %}
        <tr class="contenido_tabla">
            <td>{{ obj.id_transaccion }}</td>
            <td>{{ obj.nombre_transaccion }} </td>
            <td>{{ obj.Debe }} </td>
            <td>{{ obj.Haber }} </td>


            {% if obj.Debe > obj.Haber %}

            <td> {{ obj.SaldoDeudor}} </td>
            <td> 0 </td>

            {% else %}

            <td> 0 </td>
            <td> {{ obj.SaldoAcreedor}} </td>


            {% endif %}



            {% if obj.id_transaccion == '001CAJA' or obj.id_transaccion == '002BANCO' or obj.id_transaccion == '003IVAD' or obj.id_transaccion == '005CLIENTE' or obj.id_transaccion == '006CXC' or obj.id_transaccion == '008PRODUCTO'%}

                {% if obj.Debe > obj.Haber %}

                <td> {{ obj.SaldoDeudor}} </td>
                <td> 0 </td>
                <td> 0 </td>
                <td> 0 </td>

                {% else %}

                <td> 0 </td>
                <td> {{ obj.SaldoAcreedor}} </td>
                <td> 0 </td>
                <td> 0 </td>

                {% endif %}
            {% endif %}

            {% if obj.id_transaccion == '007COSTOV' or obj.id_transaccion == '004VENTA'%}

                {% if obj.Debe > obj.Haber %}

                <td> 0 </td>
                <td> 0 </td>
                <td> {{ obj.SaldoDeudor}} </td>
                <td> 0 </td>

                {% else %}
                <td> 0 </td>
                <td> 0 </td>
                <td> 0 </td>
                <td> {{ obj.SaldoAcreedor}} </td>


                {% endif %}
            {% endif %}


        </tr>
        {% endfor %}


</table>
</div>
</main>

{% endblock%}



















